@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    font-family: 'Quicksand', sans-serif;
    color: white;
}

H1{
    color: rgb(248, 248, 248);
    display: flex;
    justify-content: center;
    font-size: 50px;
    text-shadow: 0px 4px 30px rgba(113, 112, 115, 0.8);
    margin-top: -20px;
}

.container{
    display: flex;
    justify-content: center;
}

.glass-container{
    display: block;
    max-width: 72vw;
    margin-top: 10vh;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.56);
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(249, 247, 247, 0.1);
}

button{
    color: black;
    cursor: pointer;
}

button:hover{
    background-color: lightgray;
    border-color: transparent;
    border-radius: 5%;
    box-shadow: none;
}

p{
    color: white;
}

input{
    color: black;
}

body {
    background: linear-gradient(to right, #285266, #376372, #3c7e9a);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

ul{
    list-style: none;
    font-size: 20px;
    margin-left: -40px;
    font-weight: 700;
}

ul li {
    position: relative; 
    display: flex;
    justify-content: space-between;
}

ul li span{
    position: relative;
    right:0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: white;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover{
    background: lightgray;
}

#total{
    display: none;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}